<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <script th:src="@{js/jquery-3.3.1.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.form.js}" type="text/javascript"></script>
    <script th:src="@{js/index.js}" type="text/javascript"></script>
    <script th:src="@{js/popper.js}" type="text/javascript"></script>
    <script th:src="@{bootstrap/js/bootstrap.js}" type="text/javascript"></script>
    <script th:src="@{bootstrap/js/bootstrap.bundle.js}" type="text/javascript"></script>
    <link th:href="@{bootstrap/css/bootstrap-theme.css}" rel="stylesheet"/>
    <link th:href="@{bootstrap/css/bootstrap-grid.css}" rel="stylesheet"/>
    <link th:href="@{bootstrap/css/bootstrap-reboot.css}" rel="stylesheet"/>
    <link th:href="@{bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <style>
        .border{
            border-radius: 15px;
            display: inline-block;
            width:600px;
            margin-top: 40px;
            padding: 20px 20px 20px 20px;
        }
    </style>
</head>
<body onload="a()">
<!--/*@thymesVar id="setting" type="com.zres.util.getChineseUtil.bean.Setting"*/-->
<form class="border border-info form-horizontal center-block" th:action="@{/index}" th:object="${setting}" method="post" id="form">

    <fieldset>
        <ul class="nav nav-tabs" role="tablist" >
            <li class="nav-item">
                <a class="nav-link active" href="#" role="tab" data-toggle="tab" onclick="server()">获取服务器中文</a>
            </li>
            &nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" href="#p" role="tab" data-toggle="tab" onclick="downloadSVN()">获取SVN中文(缓存式)</a>
            </li>
            &nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" href="#" role="tab" data-toggle="tab" onclick="onlineSVN()">获取SVN中文(在线式)</a>
            </li>
        </ul>

<br/>

        <div style="display:none">
                <input type="text" placeholder="0" value="0" class="form-control" name="type"/>
        </div>
        <div class="control-group" >

            <!-- Text input-->
            <div class="input-group mb-3 input-group-sm" id="dirPath">
                <div class="input-group-prepend">
                    <span class="input-group-text">查询目录</span>
                </div>
                <input type="text" placeholder="默认桌面" class="form-control" name="dirPath"/>
            </div>
        </div>
        <div class="control-group" >

            <!-- Search input-->

            <div class="input-group mb-3 input-group-sm" id="textPath">
                <div class="input-group-prepend">
                    <span class="input-group-text">生成目录</span>
                </div>
                <input type="text" placeholder="默认桌面" class="form-control"  name="textPath"/>
            </div>
        </div>
        <div class="control-group" >
        <div class="input-group mb-3 input-group-sm">
            <!-- Text input-->
                <div class="input-group-prepend">
                    <span class="input-group-text">生成文件名</span>
                </div>
                <input type="text" placeholder="默认fileNote.txt" class="form-control" id="textName" name="textName"/>
        </div>
        </div>

        <div class="control-group" >

            <!-- Search input-->

            <div class="input-group mb-3 input-group-sm" id="userName" style="display: none">
                <div class="input-group-prepend">
                    <span class="input-group-text">SVN用户名</span>
                </div>
                <input type="text" class="form-control" placeholder="SVN用户名" name="userName"/>
            </div>
        </div>
        <div class="control-group" >
            <!-- Search input-->
            <div class="input-group mb-3 input-group-sm" id="password" style="display: none">
                <div class="input-group-prepend">
                    <span class="input-group-text">SVN密码</span>
                </div>
                <input type="text" class="form-control" placeholder="SVN密码" name="password"/>
            </div>
        </div>
   <div class="control-group">
        <label class="control-label">查询文件类型</label>
       <label class="checkbox inline">
           <input type="checkbox" id="allFile" onclick="checkAllFile()"/>
           全选&nbsp;
       </label>
        <!-- Multiple Checkboxes -->
        <div class="input-group mb-3" id="file" name="file">
            <!-- Inline Checkboxes -->
            <label class="checkbox inline" id="js" data-container="body" data-toggle="popover" data-placement="top" title="JS文件">
                <input type="checkbox" value="JS" name="file"/>
                JS&nbsp;&nbsp;
            </label>
            <label class="checkbox inline" id="java" data-container="body" data-toggle="popover" data-placement="top" title="JAVA文件">
                <input type="checkbox" value="JAVA" name="file"/>
                JAVA&nbsp;&nbsp;
            </label>
            <label class="checkbox inline" id="xml" data-container="body" data-toggle="popover" data-placement="top" title="XML文件">
                <input type="checkbox" value="XML" name="file"/>
                XML&nbsp;&nbsp;
            </label>
            <label class="checkbox inline" id="html" data-container="body" data-toggle="popover" data-placement="top" title="HTML文件">
                <input type="checkbox" value="HTML" name="file"/>
                HTML&nbsp;&nbsp;
            </label>
            <label class="checkbox inline" id="properties" data-container="body" data-toggle="popover" data-placement="top" title="PROPERTIES文件">
                <input type="checkbox" value="PROPERTIES" name="file"/>
                PROPERTIES&nbsp;&nbsp;
            </label>
        </div>
            <div id="otherFile" name="otherFile" >
                <button class="btn btn-outline-info btn-sm" type="button" onclick="addFile()">增加其他查询文件</button>
                <br/>
                <br/>
                <!--/*@thymesVar id="detail" type="com.zres.util.getChineseUtil.bean.detail"*/-->
            </div>
    </div>
        <div class="control-group">
                <label class="control-label" >过滤路径</label>
            <label class="checkbox inline">
                <input type="checkbox" id="allFilter" onclick="checkAllFilter()"/>
                全选&nbsp;
            </label>

                <!-- Multiple Checkboxes -->
                <div class="input-group mb-3" id="filter" name="filter">
                    <!-- Inline Checkboxes -->
                    <label class="checkbox inline">
                        <input type="checkbox" name="filter" value="twaver"/>
                        twaver&nbsp;
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" name="filter" value="echarts"/>
                        echarts&nbsp;
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" name="filter" value="fish-desktop-locale"/>
                        fish-desktop-locale&nbsp;
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" name="filter" value="arcgis_js_api"/>
                        arcgis_js_api&nbsp;
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" name="filter" value="city.data"/>
                        city.data&nbsp;
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" name="filter" value="geoCoord.js"/>
                        geoCoord.js&nbsp;
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" name="filter" value="layer\v3.0.3\demo.html"/>
                        layer\v3.0.3\demo.html&nbsp;
                    </label>
                </div>
            <div id="otherFilter">
                <button class="btn btn-outline-info btn-sm" type="button" onclick="addFilter()">增加其他过率路径</button>
                <br/>
                <br/>
            </div>
            </div>
        <br style="clear:both"/>
        <div style="text-align: center">
        <button class="btn btn-outline-info btn-sm" type="submit" style="margin-top: auto">获取</button>
        &nbsp;
        <button class="btn btn-outline-info btn-sm" type="reset">重置</button>
        </div>

    </fieldset>
</form>
<div class="modal fade" id="load">
    <div class="modal-dialog">
            <!-- 模态框主体 -->
            <div class="modal-body">
                <div class="progress" style="height:20px">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%;height:20px">正在获取，请稍后..</div>
                </div>
            </div>
    </div>
</div>
<!--<div class="alert alert-success " role="alert" id="success" data-dismiss="alert" >-->
    <!--获取成功!-->
<!--</div>-->
<!--<div class="alert alert-danger" role="alert" id="error" data-dismiss="alert">-->
    <!--获取失败，请检查参数!-->
<!--</div>-->
<!--<div class="control-group">-->
    <!--<label class="control-label">上传</label>-->

    <!--&lt;!&ndash; File Upload &ndash;&gt;-->
    <!--<div class="controls">-->
        <!--<input class="input-file" id="fileInput" type="file"/>-->
    <!--</div>-->
<!--</div>-->
</body>
</html>